---
layout: page 
---
<div class="search-button" id="search-button-id">
	<span class="fa-stack fa-lg" id="search">
		<i class="fa fa-search fa-stack-2x"></i>
	</span>
</div>
<div class="container" ng-app="posts_manager" ng-controller="posts_controller">
	<input id="search-field" ng-model="query" type="text" class="form-field hidded-field" placeholder="Search">
	<label >search in tytles and tags</label>
	<div class="center-table">
	  		{% raw %}
	  		<div class="post-title-entry" ng-repeat="post in posts | matchesQuery:query">
	    		<span class="post-date">
	    				<div style="floag:left;font-size:1.7em;">
	    					{{ post.date }}
	    				</div>
	    				<div style="floag:left;font-size:1em;">
    						{{ post.year }}
	    				</div>
	    		</span>
				<div class="post-title" style="text-align: left">
	    			<a ng-href="{{ post.url }}">{{ post.title }}</a>
	    			<br/>
		              		<span class="tag" ng-repeat="tag in post.keywords.split(' ')">
		                		<i class="fa fa-tag"></i>
		                		{{ tag }}
		              		</span>
	    		</div>
	    		<br>
	    	</div>
	    	{% endraw %}
	</div>
</div>