---
layout: blog
---
<div>
      <ul class="posts">
        {% for post in site.posts %}
                {% if post.locale ==  "en" %}
                <li>
                    <span>
                        {{ post.date | date: site.date_format }}
                    </span>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    <span class="align-right">
                      {{ post.category }}
                    </span>
                </li>
                {% endif%}
            {% endfor %}
    </ul>
</div>
