---
layout: default
title: 
---
    
{% for post in site.posts limit 25 %}
<div class="post-fragment">
	<span class="post-title">
		<a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a><br/>
	</span>
    {{ post.content | strip_html | truncatewords:75}} <a href="{{ post.url }}"> ...</a><br>
	{% for tag in post.tags %}{%unless forloop.first%} {%endunless%}<b>{{tag | downcase }}</b>{% endfor %} | 
    <span>{{ post.date | date_to_string }}</span>
</div>
{% endfor %}

<a href="/archive.html">ARCHIVE</a>
