html{
	margin: 0px;
	padding: 0px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	height: 100%;
	width: 100%;
}

footer{
	bottom: 10px;
	width: 100%;
	position: relative;
}

.sidroverlay {
	position:absolute;
	position: fixed;
	top:0;
	left:260px;
	background:#fff;
	opacity:0;
	width: 100%;
	height:100%;
	cursor:pointer;
}

.footer-content{
	margin: 25px;
	font-size: 10px;
}

.content{
	padding: 30px;
	margin: 0px;
	height: 100%;
}

.site-name{
	font-size: 1.5em;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	display: inline-block;
	height: 2em;
	line-height: 2em;
	position: relative;
	vertical-align: middle;
	width: 2em;
}

#menu-button{
	position: absolute;
	position: fixed;
	top: 32px;
	left: 32px;
}

#qr-code{
	width: 39%;
	margin: 0 auto; 
	border: 4px solid white;
}