table tr{
	padding-top: 4px;
	padding-bottom: 4px;
}

.post-title{
	padding-left: 125px;
	position: relative;
	word-wrap: break-word;
}

.post-title-entry{
	width: 100%;
	float: left;
	display: inline-block;
}

.post-title a{
	text-decoration: none;
	color: black;
	font-size: 1.3em;
}

.posts-list{
	width: 100%;
	vertical-align: middle;
}

.back-to-top{
	position: fixed; 
	bottom: 32px;
	right: 32px; 
	opacity: 1;
	cursor: pointer;
	z-index: 100500;
}

.center-table{ 
	width: 100%;
	line-height: 1.5em;
}


.centrize-content{
	width: 50%;
	margin: 0px auto; 
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 12px;
	text-align: justify;	
}


.post-date{
	float: left;
}

.post-navigation{
	right: 40px;
	top: 40px;
	position: absolute;
}

.post-navigation a{
	text-decoration: none;
	color: black;
}

.tag a{
	text-decoration: none;
	list-style: none;
	display: inline;
	color: black;
	padding-right: 10px;
}

.post-next{
	position: fixed;
	vertical-align: center;
	top:50%;
	bottom: 50%;
	width: 62px;
	color: #E8E8E8 !important;
	-webkit-transform: scaleY(1.5);
}

.post-next :hover{
	color: #232323;
}

.post-prev{
	position: fixed;
	vertical-align: center;
	left: 32px;
	top:50%;
	bottom: 50%;
	width: 62px;
	color: #E8E8E8 !important;
	-webkit-transform: scaleY(1.5);
}

.post-prev :hover{
	color: #232323;
}