body {
    margin: 0;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

p {
    text-align: justify;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0.4em;
}

a {
    color: #000;
    text-decoration: none;
}

.site-nav a:hover {
    border-bottom: 1px solid #da4939;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

blockquote {
    font-style: italic;
    padding-left: 1rem;
    border-left: 3px solid #ddd;
}

img {
    max-width: 100%;
}

pre {
    padding-left: 1.25rem;
    padding-top:0;
    margin-top:0;
    overflow-x: auto;
}

code {
    font-family: 'Courier New',Consolas,monopace;
}

hr {
    border: none;
    border-top: 2px solid #ddd;
}

a i{
  padding: 10px;
}

.align-right{
  float: right;
}

.cheatsheet-items{
  list-style-type: none;
}

#particlesjs{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}

#content{
    position: relative;
    z-index: 100;
}

.equation {
    padding-bottom:  1rem;
    padding-top:     1rem;
    text-align:      center;
}

.centered {
	width:270px;
	height:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-75px 0 0 -135px;
  text-align: center;
}
