body {
    margin: 0;
    font-family: Merriweather, Helvetica, Arial, sans-serif;;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

p {
    text-align: justify;
}

a {
    color: #0074d9;
    text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}
blockquote {
    font-style: italic;
    padding-left: 1rem;
    border-left: 3px solid #ddd;
}

img {
    max-width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}

th,
td {
    padding: 0.5rem;
    line-height: inherit;
}

th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

td {
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}
pre {
    padding: 1.25rem;
    overflow-x: auto;
}
code {
    font-family: 'Courier New',Consolas,monopace;
}
hr {
    border: none;
    border-top: 2px solid #ddd;
}

#particlesjs{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}

#content{
    position: relative;
    z-index: 100;
}