body{
    margin: 0;
    font-family: Merriweather, Helvetica, Arial, sans-serif;
}

ul li{
    list-style: none;
}

ul li a, 
center a{
    text-decoration: none;
    color: gray;
}

.notes-list a:link, 
.notes-list a:visited, 
center a:link,
center a:visited{
    color: #fff;
}

.notes-list a:hover, 
.notes-list a:active,
center a:hover,
center a:active{
    border-bottom: 2px solid #da4939;
    text-decoration: none;
}

.sidebar{
    float:left;
    position: fixed;
    width: 250px;
    height: 100%;
    font-size: 16px;
    text-align: right;
    line-height: 1.5;
    color: #fff;
    background: #111414;
}

.topics{
    padding-right: 20px;
    padding-top: 20px;
}

.content{
    padding: 30 30 30 250;
    margin-left: 30px;
}

.display-sign{
    display: block-inline;
    color: #da4939;
}

.do-not-display-sign{
    display: none;
}
