ul li{
    list-style: none;
}

ul li a, center a{
    text-decoration: none;
    color: gray;
}

.notes-list a:link, 
.notes-list a:visited, 
center a:link,
center a:visited{
    color: #333;
}

.notes-list a:hover, 
.notes-list a:active,
center a:hover,
center a:active{
    border-bottom: 1px solid #da4939;
    text-decoration: none;
}

.sidebar{
    float:right;
    position: fixed;
    width: 20px;
    height: 100%;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    color: black;
}

.notes-list{
    line-height: 1.75;
}

.topics{
    margin-left: -120px;
}

.content{
    padding: 30 30 30 250;
}

.active-page{
    border-bottom: 2px solid #da4939;
    text-decoration: none;
}

.not-active-page{
    border-bottom: none;
    text-decoration: none;
}

pre code{
    font-size: small;
}
