main {
    max-width: 48rem;
    margin: 0 auto 3rem;
    padding: 0 2rem;
}

.site-header .site-title{
    font-weight: 300;
}

.site-header .site-title > a{
    color: #333;
    text-decoration: none;
}


.site-header .site-nav > a{
    color: #333;
    margin-right: 15px;
}

.site-header .site-nav > a:hover{
    text-decoration: none;
}

.site-header .site-nav .active {
    border-bottom: 2px solid #da4939;
}

.orange-div{
    color: #da4939;
}

.posts {
    list-style: none;
    padding: 0;
    background-color: rgba(255,255,255,0.8);
}

.posts > li {
    line-height: 1.75;
}

.posts > li span{
    color: #a0a0a0;
    margin-right: 1.5rem;
    font-size: 0.875rem;
}

.posts > li a{
    color: #333;
    text-decoration: none;
}


.post{
    position: relative;
    background-color: rgba(255,255,255,0.8);
}

.post .post-header{
    text-align: center;
    margin-bottom: 0;
}

.post .post-meta{
    margin: 0;
    text-align: center;
    color: #a0a0a0;
    font-size: 0.875rem;
}

.about{
    background-color: rgba(255,255,255,0.8);
}

.about-section{
    font-size: 0.875rem;
}

.wellcome{
    margin-top: 30px;   
}
