body {
    margin: 0;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

p {
    text-align: justify;
    margin-top:0;
    margin-bottom:0;
    text-indent: 0.875rem;
    color: #4A4A4A;
}

a {
    color: #000;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    color: #333;
}

blockquote {
    font-style: italic;
    padding-left: 1rem;
    border-left: 3px solid #ddd;
}

img {
    max-width: 100%;
}
