---
layout: blog
---
        <div class="cheatsheet-items">
          <ul>
            <li>
              <a href="{{ site.baseurl }}/cheatsheets/linux/" class="{% if page.url == '/cheatsheets/linux/' %}active-page{% else %}not-active-page{% endif %}"> linux </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/cheatsheets/ruby/" class="{% if page.url == '/cheatsheets/ruby/' %}active-page{% else %}not-active-page{% endif %}"> ruby </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/cheatsheets/git/" class="{% if page.url == '/cheatsheets/git/' %}active-page{% else %}not-active-page{% endif %}"> git </a>
            </li>
          </ul>
        </div>
        <section class="content">
            {{content}}
        </section>
