---
layout: default
---    
        <aside class="sidebar">
            <div class="topics">
                <ul class="notes-list">
                    <li>
                        <a href="{{ site.baseurl }}/notes/linux/" class="{% if page.url == '/notes/linux/' %}active-page{% else %}not-active-page{% endif %}"> linux </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/notes/ruby/" class="{% if page.url == '/notes/ruby/' %}active-page{% else %}not-active-page{% endif %}"> ruby </a>
                    </li>
                    <li>
                    <a href="{{ site.baseurl }}/notes/lisp/" class="{% if page.url == '/notes/lisp/' %}active-page{% else %}not-active-page{% endif %}"> lisp </a>
                    </li>
                </ul>
            </div>
        </aside>
        <section class="content">
            {{content}}
        </section>
