---
layout: default
---
<div class="post-navigation">
  {% if page.next %}
    <a class="post-prev" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">
      <i class="fa fa-chevron-left fa-3x"></i>
    </a>
  {% endif %}
    <a href="/blog.html">
      <i class="fa fa-th-list fa-rotate-180 fa-2x"></i>
    </a>
  {% if page.previous %}
    <a class="post-next" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">
      <i class="fa fa fa-chevron-right fa-3x"></i>
    </a>
  {% endif %}
</div>
<div class="content">
<div>
  <h1>{{ page.title }}</h1>
    {% unless page.categories == empty %}
      {% for category in page.categories %} 
        <span class="tag">
          <i class="fa fa-tag"></i>
          <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref">
        {{ category | join: "/" }} 
          </a>
        </span>
      {% endfor %}
    {% endunless %}  
    {% unless page.tags == empty %}
      {% for tag in page.tags %}
        <span class="tag">
          <i class="fa fa-tag"></i>
          {{ tag }}
        </span>
      {% endfor %}
    {% endunless %}  
</div>
<br/>
<div style="post-date">
  <i class="fa fa-calendar"></i> {{ page.date | date: "%-d %b %Y" }}
</div>
</div>
  {{ content }}
</div>
