<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="blog,it">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ua_application.css">
    <title>AT</title>
</head>
<body>
        <main>
            <header class="site-header">
                <div class="site-title">
                    <a href="{{ site.baseurl }}/ua">
                        at
                    </a>
                </div>
            </header>
            {{ content }}
        </main>
    <script>
</body>
